.navbar {
    height:6em;
    width:100%;
    background-color:white;
    /* position:fixed; */
    z-index:1;
}
.logo {
    height:1.2em;
}
.brand {
    font-size:1.2em;
    font-weight:650;
    letter-spacing:5px;
    font-family: 'Nunito', sans-serif;
}
.space {
    font-family: 'Open Sans', sans-serif;
    font-size:18px;
    margin-right:2em;
    color:#525C65;
}
.start {
    font-family: 'Open Sans', sans-serif;
    font-size:12px;
    padding:5px 15px;
    letter-spacing:2px;
    box-shadow:0 0 8px 0 rgba(17,22,26,.16), 0 4px 8px 0 rgba(17,22,26,.08), 0 8px 16px 0 rgba(17,22,26,.08);
    border:#02B3E4;
    border-radius:5px;
    background-color:#02B3E4;
    color:#FFFFFF;
}
.banner img{
    width:100%;
    position:absolute;
}
.content {
    position:relative;
    font-family: 'Open Sans', sans-serif;
    color:white;
    border-radius:10px;
    background-color:#2390E6;
    top:30px;
    left:150px;
    padding: 84px 50px;
    height:33em;
    width:33em;
    /* z-index:2; */
}
.margin {
    margin-bottom:35px;
}
.title {
    font-family: 'Open Sans', sans-serif;
    color:#2E3D49;
    font-size:32px;
    margin-top:1em;
}
.boxstart {
    height:8em;
    border-radius:5px;
    margin-left:80px;
    margin-top:2em;
    box-shadow:0 0 8px 0 rgba(17,22,26,.16), 0 4px 8px 0 rgba(17,22,26,.08), 0 8px 16px 0 rgba(17,22,26,.08);
}
.box {
    height:8em;
    border-radius:5px;
    margin-left:10px;
    margin-top:2em;
    box-shadow:0 0 8px 0 rgba(17,22,26,.16), 0 4px 8px 0 rgba(17,22,26,.08), 0 8px 16px 0 rgba(17,22,26,.08);
}
.box:hover {
    box-shadow:0 0 8px 0 rgba(17,22,26,.08), 0 0 8px 0 rgba(17,22,26,.08), 0 0 8px 0 rgba(17,22,26,.08);
    transition:all 0.5s ease-in-out;
}
.boxstart:hover {
    box-shadow:0 0 8px 0 rgba(17,22,26,.08), 0 0 8px 0 rgba(17,22,26,.08), 0 0 8px 0 rgba(17,22,26,.08);
    transition:all 0.5s ease-in-out;
}
.discover {
    height:3em;
    margin-left:3.5em;
    margin-top:-1em;
}
.school {
    font-family: 'Open Sans', sans-serif;
    color:#02B3E4;
    margin:1em 0px;
}
.course {
    font-family: 'Open Sans', sans-serif;
}
.companies {
    height:3em;
    width:10em
}