.navbar {
    height:6em;
    width:100%;
    background-color:white;
    /* position:fixed; */
    z-index:1;
}
.logo {
    height:1.2em;
}
.brand {
    font-size:1.2em;
    font-weight:650;
    letter-spacing:5px;
    font-family: 'Nunito', sans-serif;
}
.space {
    font-family: 'Open Sans', sans-serif;
    font-size:18px;
    margin-right:2em;
    color:#525C65;
}
.start {
    font-family: 'Open Sans', sans-serif;
    font-size:12px;
    padding:5px 15px;
    letter-spacing:2px;
    box-shadow:0 0 8px 0 rgba(17,22,26,.16), 0 4px 8px 0 rgba(17,22,26,.08), 0 8px 16px 0 rgba(17,22,26,.08);
    border:#02B3E4;
    border-radius:5px;
    background-color:#02B3E4;
    color:#FFFFFF;
}
.banner img{
    width:100%;
    position:absolute;
}
.content {
    position:relative;
    font-family: 'Open Sans', sans-serif;
    color:white;
    border-radius:10px;
    background-color:#2390E6;
    top:30px;
    left:150px;
    padding: 84px 50px;
    height:33em;
    width:33em;
    /* z-index:2; */
}
.margin {
    margin-bottom:35px;
}
.title {
    font-family: 'Open Sans', sans-serif;
    color:#2E3D49;
    font-size:32px;
    margin-top:1em;
}
.boxstart {
    height:8em;
    border-radius:5px;
    margin-left:80px;
    margin-top:2em;
    box-shadow:0 0 8px 0 rgba(17,22,26,.16), 0 4px 8px 0 rgba(17,22,26,.08), 0 8px 16px 0 rgba(17,22,26,.08);
}
.box {
    height:8em;
    border-radius:5px;
    margin-left:10px;
    margin-top:2em;
    box-shadow:0 0 8px 0 rgba(17,22,26,.16), 0 4px 8px 0 rgba(17,22,26,.08), 0 8px 16px 0 rgba(17,22,26,.08);
}
.box:hover {
    box-shadow:0 0 8px 0 rgba(17,22,26,.08), 0 0 8px 0 rgba(17,22,26,.08), 0 0 8px 0 rgba(17,22,26,.08);
    transition:all 0.5s ease-in-out;
}
.boxstart:hover {
    box-shadow:0 0 8px 0 rgba(17,22,26,.08), 0 0 8px 0 rgba(17,22,26,.08), 0 0 8px 0 rgba(17,22,26,.08);
    transition:all 0.5s ease-in-out;
}
.discover {
    height:3em;
    margin-left:3.5em;
    margin-top:-1em;
}
.school {
    font-family: 'Open Sans', sans-serif;
    color:#02B3E4;
    margin:1em 0px;
}
.course {
    font-family: 'Open Sans', sans-serif;
}
.companies {
    height:3em;
    width:10em
}
.programs {
    font-size : 2.5em;
    font-weight:lighter;
    font-family: 'Open Sans', sans-serif;
}
.programsimg {
    position:absolute;
    height:10em;
    width:14em;
    border-radius:10px;
}
.subimg {
    box-shadow: 10px 10px 25px 0 rgba(0,0,0,.1);
    position:absolute;
    background-color:white;
    border-radius:50%;
    left:202px;
    top:10px;
    height:4em;
    width:4em;
}
.subimage {
    display:block;
    margin:auto;
    padding:15px;
}
.border1 {
    border-bottom:4px;
    border-bottom-color:#FFA234;
    border-bottom-style:solid;
}
.begin {
    font-family: 'Open Sans', sans-serif;
    width:100%;
    height:20em;
    background-color:#2390E6;
}
.begin h1 {
    text-align:center;
    padding-top:2em;
    color:white;
}
.begin h5 {
    text-align:center;
    padding-top:1em;
    color:white;
}
.begin button {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    border:0;
    margin-top:2em;
    padding: 10px 25px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    border-radius:5px;
    color:#2390E6;
}
.popular {
    font-family: 'Open Sans', sans-serif;
    color:#525C65;
}
.popular h6 a {
    text-decoration:none;
    color:#2390E6;
}
.popularbox1 {
    height:15em;
    width:15em;
    box-shadow:5px 5px 25px 0 rgba(46,61,73,.2);
    border-radius:5px;
    background:url(images/frontend_web.jpg);
    background-size:15em 7em;
    background-repeat: no-repeat;
}
.popularbox2 {
    height:15em;
    width:15em;
    box-shadow:5px 5px 25px 0 rgba(46,61,73,.2);
    border-radius:5px;
    background:url(images/ai.jpg);
    background-size:15em 7em;
    background-repeat: no-repeat;
}
.popularbox3 {
    height:15em;
    width:15em;
    box-shadow:5px 5px 25px 0 rgba(46,61,73,.2);
    border-radius:5px;
    background:url(images/fullstack_web.jpg);
    background-size:15em 7em;
    background-repeat: no-repeat;
}
.popularbox4 {
    height:15em;
    width:15em;
    box-shadow:5px 5px 25px 0 rgba(46,61,73,.2);
    border-radius:5px;
    background:url(images/autonompus.jpg);
    background-size:15em 7em;
    background-repeat: no-repeat;
}
.popularbox5 {
    height:15em;
    width:15em;
    box-shadow:5px 5px 25px 0 rgba(46,61,73,.2);
    border-radius:5px;
    background:url(images/java.jpg);
    background-size:15em 7em;
    background-repeat: no-repeat;
}
.popularbox6 {
    height:15em;
    width:15em;
    box-shadow:5px 5px 25px 0 rgba(46,61,73,.2);
    border-radius:5px;
    background:url(images/ml.jpg);
    background-size:15em 7em;
    background-repeat: no-repeat;
}
.before {
    position:absolute;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    width:15em;
    height:7em;
    background-color:rgba(0,0,0,.5);
}
.card_header {
    font-family: 'Open Sans', sans-serif;
    color:white;
    position:absolute;
    top:20px;
    left:20px;
    font-size:10px;
    z-index:1;
}
.card_title {
    font-family: 'Open Sans', sans-serif;
    color:white;
    position:absolute;
    top:40px;
    left:20px;
    font-size:14px;
    z-index:1;
}
.card_desc {
    font-family: 'Open Sans', sans-serif;
    color:white;
    background-color:#FF5483;
    border-radius:5px;
    position:absolute;
    left:20px;
    top:80px;
    font-size:14px;
    border:0;
    z-index:1;
}
.card_desc2 {
    font-family: 'Open Sans', sans-serif;
    color:white;
    background-color:orange;
    border-radius:5px;
    position:absolute;
    left:20px;
    top:80px;
    font-size:14px;
    border:0;
    z-index:1;
}
.after {
    font-family: 'Open Sans', sans-serif;
    position:absolute;
    top:130px;
    left:35px;
}
.after2 {
    font-family: 'Open Sans', sans-serif;
    position:absolute;
    top:400px;
    left:35px;
}
.number {
    width:100%;
    height:55em;
    background-color:#F2F9FF;
}
.number_head {
    font-family: 'Open Sans', sans-serif;
    text-align:center;
}
.number_img {
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.number_count {
    font-family: 'Open Sans', sans-serif;
    text-align:center;
}
.number_desc {
    font-family: 'Open Sans', sans-serif;
    text-align:center;
}
.number_people {
    width:20em;
    height:25em;
    margin-top:4em;
    position:absolute;
    background-color:white;
    border-radius:10px;
    box-shadow: 0 0 4px 0 rgba(17,22,26,.16), 0 2px 4px 0 rgba(17,22,26,.08), 0 4px 8px 0 rgba(17,22,26,.08);
}
.people_img {
    height:4em;
    width:4em;
    position:absolute;
    border-radius:50%;
    top:-25px;
    left:130px;
}
.number_people h2 {
    font-family: 'Open Sans', sans-serif;
    margin-top:2em;
    text-align:center;
}
.number_people h6 {
    font-family: 'Open Sans', sans-serif;
    padding:15px 25px;
    text-align:center;
}
.number_bottom {
    position:absolute;
    width:100%;
    height:6em;
    bottom:0;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    background-color:#F1F3F5;
}
.number_bottom h6 {
    color:#657482;
    font-family: 'Open Sans', sans-serif;
}
.number_bottom p {
    text-align:center;
    font-family: 'Open Sans', sans-serif;
}